* {
    -webkit-tap-highlight-color: transparent;
        user-select: none;
}
html,body{
    background:#ededed;
}

input {
    border: none;
    resize: none;
    box-shadow: none;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    outline-style:none;
}




.myui-switch, .paui-switch input {
  display: inline-block
}

.myui-switch input {
  position: relative;
  width: 39px;
  height: 24px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 30px;
  background: #fff
}

.myui-switch input:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  -webkit-transition: all .2s;
  transition: all .2s;
  background: #fff;
  border: 0 solid rgba(0, 0, 0, .1);
  box-shadow: 0 5px 2px 0 rgba(0, 0, 0, .05), 0 3px 3px 0 rgba(0, 0, 0, .1), 0 5px 5px 0 rgba(0, 0, 0, .05)
}

.myui-switch input:checked {
  background: #44db5e
}

.myui-switch input:checked:after {
  top: 0;
  left: 15px;
  -webkit-transition: all .2s;
  transition: all .2s
}
