{
  "presets": [
    "es2015",
    "stage-0",
    "react",
    "stage-1"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ],
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-object-assign"
  ]
}
