<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
    <title>这是一个测试页面</title>
    <link rel="stylesheet" href="/main.css"></link>
</head>
<body>
    <div id="appRoot"></div>
</body>
</html>