body {
    padding-top:200px;
}
* {
    margin:0;
    padding:0;
}


.diamond{
    width:100px;
    height:100px;
    margin:0 auto;
    border-radius: 50%;
    overflow:hidden;

    -webkit-animation-delay: 100ms;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name:'rotate';
}

.diamond img {
    display:block;
    width:100%;
}

@-webkit-keyframes rotate {
    to {
        transform:rotate(-360deg);//2D 旋转
    }
}


.road {
    border:5px solid #000;
}


.contain {
    background:url('./tree.jpg') no-repeat -300px 0;
    padding-top:200px;

    -webkit-animation-delay: 100ms;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name:'rotate2';
}


@-webkit-keyframes rotate2 {
    to {
        background-position:140% 0;
    }
}
