.diamond{
    width:100px;
    height:100px;
    margin:20px auto;

    -webkit-animation-delay: 100ms;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name:'rotate';
}

.diamond img {
    display:block;
    width:100%;
}

@-webkit-keyframes rotate {
    to {
        transform:rotate(360deg);//2D 旋转
    }
}
